button:focus {
    outline: unset;
}

.errormessage {
    text-align: center;
}

.floating-label label {
    top: calc(50% - 11px);
}

.floating-label {
    width: 100%;
}

input {
    width: 100%;
}

select {
    font-size: 16px;
    padding: 21px 13px 21px 23px;
    /* height: 56px; */
    width: 100%;
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.1);
    background: #fff;
    box-sizing: border-box;
    transition: all .3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;
}

select:focus {
    border: solid 1px #2d97b9;
    outline: 0;
    box-shadow: 0 1px 8px 0px hsl(203, 100%, 41%);
}

select:focus~label,
select:not([value=""]):valid~label {
    font-size: 14px;
    color: #5264AE;
}


/* active state */


/* .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
    width:50%;
  } */

.select:focus~label {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* animation */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}