@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.mat-drawer {
  /* background: linear-gradient( 155deg, #911FDD , #04BCB1, #007FD6  ); */
  background: #ffffff;
  height: 100%;
  max-height: 100%;
  transition: left .3s ease;
  padding: unset;
}

.mat-toolbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  color: #000;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.mat-spacer {
  flex: 1 1 auto;
}

.mat-icon {
  color: #000;
}

button:focus {
  outline: unset;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar-content {
  max-height: calc(100% - 50px);
  height: calc(100% - 50px);
  overflow-y: auto;
  position: relative;
  width: 255px;
}

.sidebar-content .sidebar-profile {
  overflow: hidden;
  padding: 36px;
  position: relative;
}

.sidebar-content .sidebar-profile .close {
  display: none;
}

.sidebar-content .sidebar-profile .user-pic {
  /* float: left; */
  width: 100px;
  height: 100px;
  padding: 2px;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
  margin: auto;
  background: linear-gradient( 155deg, #911FDD , #04BCB1, #007FD6 );
  background-color: white;
}

.sidebar-content .sidebar-profile .user-pic img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #fff;
  /* cursor: pointer; */
}

.sidebar-content .sidebar-profile .user-info {
  color: #000000;
  margin-top: 10px;
  text-align: center
}

.sidebar-content .sidebar-profile .user-info>span {
  display: block;
  text-transform: capitalize;
}

.sidebar-content .sidebar-profile .user-info .user-role {
  font-size: 12px;
}

.sidebar-content .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-content .sidebar-menu .header-menu span {
  font-weight: normal;
  ;
  font-size: 14px;
  display: inline-block;
}

.sidebar-content .sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-content .sidebar-menu ul li {
  padding: 10px;
}

.sidebar-content .sidebar-menu ul li a {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
  color: #000000;
  font-size: 14px;
}

.sidebar-content .sidebar-menu ul li a img {
  margin-right: 16px;
  font-size: 12px;
  width: 19px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-content .sidebar-menu ul li a:hover>img::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-content .sidebar-menu ul li a:hover {
  /* background: linear-gradient( 155deg, #911FDD , #04BCB1, #007FD6  );; */
  background: linear-gradient( 155deg, #911fdd80, #04bcb185, #007fd68a);
  border-radius: 5px;
  color: #fff;
}

.sidebar-content .sidebar-menu ul li a span.label, .sidebar .sidebar-content .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-content .sidebar-menu .sidebar-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  transform: rotate(90deg);
  right: 15px;
  top: 14px;
  transition: transform 0.3s ease;
}

.sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu {
  overflow: hidden;
}

.sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge, .sidebar .sidebar-content .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-content .sidebar-menu .sidebar-dropdown.active>a:after {
  transform: rotate(180deg);
  right: 15px;
  font-weight: normal;
}

.sidebar-footer {
  width: 100%;
  bottom: 0;
  display: flex;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.sidebar-footer>div {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: static;
  display: flex;
  color: #000000;
}

.sidebar-footer>div>a {
  flex-grow: 1;
  cursor: pointer;
  color: #000;
}

.sidebar-footer>div>a:hover {
  color: #3babbd;
  cursor: pointer;
}

.page-content {
  width: 100%;
  padding-top: 26px;
}

.active {
  background: linear-gradient( 155deg, #911FDD, #04BCB1, #007FD6);
  border-radius: 5px;
  color: #fff !important;
}

.bar1, .bar2, .bar3 {
  width: 28px;
  height: 3px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mat-icon-button {
  height: 31px;
}

@media all and (min-width: 360px) and (max-width: 840px) {
  /* .change .bar1, .bar2, .bar3{
    width: 28px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
  } */
  .sidebar-content .sidebar-profile .close {
    /* display: none; */
    position: absolute;
    top: 6px;
    right: 9px;
    color: #000;
    font-size: 25px;
    cursor: pointer;
    display: inline-block
  }
  /* .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .bar2 {opacity: 0;}
  
.bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  } */
  sidebar-content .sidebar-profile .close {
    display: block;
    color: #000;
    position: absolute;
    top: 11px;
    right: 20px;
  }
}