<!-- <div class="container" > -->
<div class="container">
        <mat-card class="example-card">
                <mat-card-content>

                        <div class="row" style="text-align: center;margin: 20px">
                                <div style="width: 100%;" *ngIf="!isdivview && accountType == 'super_admin' || !isdivview && accountType == 'admin'">

                                        <button class="btn active" (click)="selectedUsersList('admin')" id="admin">Admins</button>
                                        <button class="btn  " (click)="selectedUsersList('manager')" id="manager">Manager</button>
                                        <button class="btn" (click)="selectedUsersList('employee')" id="employee">Employees</button>

                                </div>
                                <div style="width: 100%;" *ngIf="isdivview && accountType == 'super_admin' || accountType == 'sub_admin'">
                                        <button class="btn active" (click)="selectedUsersList('sub_admin')" id="sub_admin">Sub
                                                Admin</button>
                                        <button class="btn" (click)="selectedUsersList('sub_manager')" id="sub_manager">Sub
                                                Manager</button>
                                        <button class="btn" (click)="selectedUsersList('sub_employee')" id="sub_employee">Sub
                                                Employees</button>

                                </div>
                        </div>
                        <div class="table-responsive" *ngIf="isloading">
                                <table class="table table-hover">
                                        <thead>
                                                <tr>
                                                        <th>Sr.No</th>
                                                        <th>Name</th>
                                                        <th>Account Type</th>
                                                        <th>Email</th>
                                                        <th>Status</th>
                                                        <th>Edit</th>
                                                        <!-- <th>Action</th> -->
                                                </tr>
                                        </thead>
                                        <tbody *ngIf="accountlist.length > 0">
                                                <tr *ngFor="let accountslists of accountlist; let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td>{{accountslists.name}}</td>
                                                        <td>{{getNewAccounTypeValue(accountslists.accountType)}}
                                                                 
                                                        </td>
                                                        <td style="text-transform:unset;">{{accountslists.email}}</td>
                                                        <!-- <td style="vertical-align: middle; text-transform: capitalize; cursor:pointer" [ngStyle]="{'color':getColor(teammember.employee_status)}" (click)='adminStatus(teammember.employee_status,teammember.employee_id,content)'>{{teammember.employee_status}}</td> -->

                                                        <!-- <td>{{accountslists.currentStatus}}</td> -->
                                                        <td>

                                                                <div class="Userstatus" *ngIf="loginAccountId != accountslists.accountPublicId">
                                                                        <button mat-raised-button matTooltip="Change Status"
                                                                                [ngStyle]="{'background':getColor(accountslists.currentStatus)}"
                                                                                (click)="accountStatus(accountslists.currentStatus,accountslists.accountPublicId,content)">
                                                                                <mat-icon>{{currentStatusIcon}}</mat-icon>
                                                                                <!-- <mat-icon>visibility_off</mat-icon> -->
                                                                        </button>
                                                                </div>
                                                        </td>
                                                        <td>
                                                                <div class="actionbutton">
                                                                        <button mat-raised-button matTooltip="edit"
                                                                        [routerLink]="['/'+accountType+'/edit/account/',accountslists.accountPublicId]"   >
                                                                                <mat-icon>create</mat-icon>
                                                                        </button>
                     
                                                                </div>
                                                        </td>
                                                </tr>
                                        </tbody>
                                        <tbody *ngIf="accountlist.length == 0">
                                                <tr>
                                                        <td colspan="5" style="text-align:center">Data is not Available</td>

                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </mat-card-content>
        </mat-card>
</div>


<ng-template #content>
        <div class="modal-body" style="text-align: center; ">
                <p style="font-family: Arial;">{{dailogMessage}}</p>
                <button class="modalbutton2" (click)="changeStarusApiCall()">Yes</button>
                <button class="modalbutton2" (click)="JoinAndClose()">No</button>
        </div>
</ng-template>