<div class="maindiv">
    <div class="leftpanel">
        <div class="logodiv">
            <div class="imagelogo">
                <img class="circle" src="assets/images/steerlyfe_logo.png" alt="logo image">
                <!-- <img class="logoname" src="assets/images/steerlyfe_logo.png" alt="logo image"> -->
            </div>
            <h4>Login</h4>
        </div>
        <form class="log-in" autocomplete="off">
            <div class="floating-label">
                <input placeholder="Email" type="text" id="email" autocomplete="off" name="email" required [(ngModel)]="loginData.email">
                <label for="email">Email</label>
            </div>

            <div class="floating-label">
                <input placeholder="Password" type="password" id="password" autocomplete="off" name="pass" required [(ngModel)]="loginData.password">
                <label for="password">Password</label>
                <div style="display: inline-block;position: absolute;right: 14px;top: 22px;">
                    <a style="height: 37px;border: unset;background: initial;color: #949aa2;cursor: pointer;" (click)="showPassword()"><span><i  id="myiconconfirm" class="fa fa-eye-slash" aria-hidden="true"></i></span></a>
                </div>
            </div>


            <div class="checkboxstyle">
                <input id="checkbox-1" class="checkbox-custom" name="terms" name="terms" value="terms" [(ngModel)]="loginData.termsChecked" type="checkbox">
                <label for="checkbox-1" class="checkbox-custom-label"><a href=''
                            style="color: grey; text-decoration: none;">
                            <p>
                                By Clicking this box you agree to our terms.
                            </p>
                        </a></label>
            </div>
            <div class="errormessage">
                <p *ngIf="loginData.errorMessage.length > 0" class="text-danger">
                    {{loginData.errorMessage}}</p>
            </div>

            <button type="submit" onClick="return false;" (click)="onLoginEmail()">Let's Go</button>
        </form>
    </div>


</div>