<div class="container">
    <mat-card class="example-card">
  
      <mat-card-content>
        <form  >

            <label class="cabinet center-block">
                <figure style="height: 100%;">
                <img src="{{chnageProfileModal.imageUrl}}" class="gambar img-responsive img-thumbnail" id="item-img-output" />
              <figcaption><i class="fa fa-camera"></i></figcaption>
             </figure>
            <input type="file" class="item-img file center-block"  (change)="onSelectFile($event)" accept="image/*" name="file_photo"/>
        </label>

    
              <div class="floating-label">
                  <!-- <input placeholder="Email" type="email" id="email" autocomplete="off" name="email" required [(ngModel)]="chnageProfileModal.name" > -->
                  <input placeholder="Name" type="text" id="userName" autocomplete="off" name="userName" required [(ngModel)]="chnageProfileModal.name" >
                  <label for="userName">Name</label>
                </div>
                
  
  
          <button type="submit" class="btn" (click)="updateProfile()" >Update</button>
          <!-- <button type="submit" class="btn" (click)="addSubStoreApi()">Update</button> -->
       
        
        </form>
       
        
  
      </mat-card-content>
    </mat-card>
  </div>